pizzabalka.cz {
	root * /var/www/pizzabalka.cz
	encode zstd gzip
	file_server

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy geolocation=(), microphone=(), camera=()
	}
}

www.pizzabalka.cz {
	redir https://pizzabalka.cz{uri} permanent
}
